body {
  padding: 0px 300px;
}

header {
  background-color: white;

}

.shoe1 {
  background-color:  #ff512f;
  height: 300px;
  padding: 80px 350px;
}

.white-space {
  background-color: white;
  height: 200px;
}

.shoe-price {
  background-color: #ff512f;
  color: white;
  height: 700px;
  padding: 80px 450px;
}

.first-shoe {
  text-decoration: underline;
}

.second-shoe {
  text-decoration: underline;
}

.third-shoe {
  text-decoration: underline;
}

.amount {
  text-decoration: underline;
  color: white;
}
