

header {
  background-color: white;

}

.top-shoe {
  width: 55px;
}

.section1 {
  background-color:  #ff512f;
}

.shoe1-image {
  width: 450px;
  padding-right: 50px;
  padding-left: 88px;

}

.white-center {
  background-color: white;
  border-bottom: 1px solid #ff512f;
  width: 92%;
  margin-left: 40px;
}

.middle-info {
  font-family: monospace;
  padding-left: 100px;

}

.what-our-customers {
  padding-top: 30px;

}

.dont-take-our {
  padding-bottom: 30px;
  padding-right: 30px;

}

.find-your-shoe {
  padding-top: 30px;

}
.product-details {
  display: inline-block;
  color: brown;
  font-family: monospace;
  padding-left: 60px;

}

.size-fit {
  display: inline-block;
  color: brown;
  font-family: monospace;
  padding-left: 20px;
}

.reviews {
  display: inline-block;
  color: brown;
  font-family: monospace;
  float: right;
  padding-right: 60px;
}
.shoe-price {
  background-color: #ff512f;
  color: white;
}

.first-shoe {
  text-decoration: underline;
}

.second-shoe {
  text-decoration: underline;
}

.third-shoe {
  text-decoration: underline;
}

.amount {
  text-decoration: underline;
  color: white;
}

.comingsoon {
  font-size: 15px;
  color: maroon;
  line-height: normal;
}

.topnav {
  display: inline-block;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 22px;
  padding-top: 20px;
}

.side-nav {
  display: inline-block;
  float: right;
  margin-top: 15px;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 8px
}

.help {
  margin-right: 20px;
}

.my-account {
  margin-right: 20px;
}

.men {
  margin-left: 10px;
}

.women {
  margin-left: 10px;
}

.boys {
  margin-left: 10px;
}

.girls {
  margin-left: 10px;
}

.customize {
  margin-left: 10px;
}

.sneaker-info {
  display: inline-block;
}

.shoe1 {
  display: inline-block;
}

p {
  padding-left: 103px;
}

.lorem {
  width: 331px;
  font-family: monospace;
  font-size: 10px;
  border-top-style: dashed;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-style: dashed;
  color: white;
  font-size: 15px;

}

.quick-sneakers {
  font-family: monospace;
  color: white;
}

 .spring-summer {
  font-family: monospace;
  color: white;
}

.back-to {
  font-family: monospace;
  color: white;
}
