

header {
  background-color: white;

}

.top-shoe {
  width: 55px;
}


.section1 {
  background:linear-gradient(to right, #e4256b, #ff512f);
  padding-bottom: 30px;
}

.shoe1-image {
  width: 450px;
  padding-right: 50px;
  padding-left: 289px;

}

.white-center {
  background-color: white;
  border-bottom: 1px solid #ff512f;
  width: 92%;
  margin-left: 40px;
}

.middle-info {
  font-family: monospace;
  padding-left: 100px;

}

.what-our-customers {
  padding-top: 30px;

}

.dont-take-our {
  padding-bottom: 30px;
  padding-right: 30px;

}

.find-your-shoe {
  padding-top: 30px;

}
.product-details {
  display: inline-block;
  color: brown;
  font-family: monospace;
  padding-left: 60px;

}

.size-fit {
  display: inline-block;
  color: brown;
  font-family: monospace;
  padding-left: 20px;
}

.reviews {
  display: inline-block;
  color: brown;
  font-family: monospace;
  float: right;
  padding-right: 60px;
}
.shoe-price {
  background:linear-gradient(to right, #e4256b, #ff512f);
  color: white;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}


.amount {
  color: white;
  margin: 0px;
}

.comingsoon {
  font-size: 15px;
  color: maroon;
  line-height: normal;
  margin: 0px;
}

.topnav {
  display: inline-block;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 22px;
  padding-top: 20px;
}

.side-nav {
  display: inline-block;
  float: right;
  margin-top: 15px;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 8px
}

.help {
  margin-right: 20px;
}

.my-account {
  margin-right: 20px;
}

.men {
  margin-left: 10px;
}

.women {
  margin-left: 10px;
}

.boys {
  margin-left: 10px;
}

.girls {
  margin-left: 10px;
}

.customize {
  margin-left: 10px;
}

.sneaker-info {
  display: inline-block;
}

.shoe1 {
  display: inline-block;
}


.lorem {
  width: 331px;
  font-family: monospace;
  font-size: 10px;
  border-top-style: dashed;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-style: dashed;
  color: white;
  font-size: 15px;

}

.quick-sneakers {
  font-family: monospace;
  color: white;
}

 .spring-summer {
  font-family: monospace;
  color: white;
}

.back-to {
  font-family: monospace;
  color: white;
  padding-left: 306px;
}

.funny {
  display: inline-block;
}

.nimble {
  display: inline-block;
}

.cute {
  display: inline-block;
}

.shoe2-image {
  width: 300px;
  padding-right: 85px;
}

.shoe3-image {
  width: 300px;
  padding-right: 85px;
}

.shoe4-image {
  width: 300px;
}

.bottom-logo-sneaker {
  width:50px;
}

.bottom-nav {
  display: inline-block;
}

.quick-120 {
  display: inline-block;
  font-family: monospace;
  font-size: 16px;
  color: white;
}

.buy-now-top {
  display: inline-block;
  font-family: monospace;
  margin-left: 50px;
  background: white;
  width: 94px;
  height: 34px;
  border-radius: 6%;
  padding-top: 17px;
  font-size: 16px;
  padding-left: 28px;
  color: #ff512f;
}

.hover-effect {
  /*background-color: green;*/
  background: linear-gradient(to right, #e4256b, #ff512f);
  color: white;
  border-style: solid;

}

.shop-recomended {
  background-color: rgba(255, 81, 47, 0.12);
  margin: 0px;
  padding-left: 580px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: monospace;
}

.first-shoe {
  margin: 0px;
}

.second-shoe {
  margin: 0px;
}

.third-shoe {
  margin: 0px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 15px;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 14px;
}

.cart-image {
  width: 15px;
}
